@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar FontAwesome para los iconos */

body {
  background-color: #0f1115; /* Fondo oscuro base */
  color: #c9d1d9; /* Texto gris claro legible */
}

/* Animación para el escáner de la IA */
@keyframes scan {
  0% { top: -100%; }
  100% { top: 100%; }
}
